<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BookStore" 
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BookStore;Integrated Security=True;
			 Pooling=False;Encrypt=True;TrustServerCertificate=False;Encrypt=False;
			 AttachDbFilename=|DataDirectory|\BookStore.MDF;"/>
	</connectionStrings>
</configuration>